* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-top: 15px;
    position: fixed;
    z-index: 10;
    box-shadow: 5px 5px 10px;
}

.img1 {
    width: 100%;
    height: 800px;
    background: url(Assets/pexels-photo-5659006.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.text1 {
    font-size: 30px;
    color: white;
    padding-top: 500px;
    font-weight: 800;
    text-align: center;
}

.text2 {
    font-size: 60px;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main2 {
    width: 100%;
    height: auto;
}

.text3 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
}

.text4 {
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.img3 {
    padding-top: 50px;
}

.text5 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.text6 {
    width: 250px;
    font-size: 20px;
    padding-top: 20px;
}

.main4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    padding-bottom: 50px;
}

.main5 {
    margin-left: 20px;
}

.main6 {
    width: 100%;
    height: auto;
}

.img5 {
    width: 400px;
    height: 500px;
    background: url(Assets/pexels-photo-3865712.jpeg)50% 50% no-repeat;
    background-size: cover;
}

.text7 {
    font-size: 30px;
}

.text8 {
    max-width: 450px;
    font-size: 20px;
    padding-top: 20px;
}

.text9 {
    margin-left: 30px;
    margin-top: 20px;
}

.main7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.img6 {
    padding-top: 20px;
    padding-left: 50px;
}

.main8 {
    width: 100%;
    height: auto;
}

.text12 {
    font-size: 50px;
    padding-top: 50px;
}

.text13 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.m1 {
    width: 80px;
}

.img7 {
    width: 500px;
    height: 300px;
    background: url(Assets/pexels-photo-4210315.jpeg) 50% 50% no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.main9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 100px;
}

.main10 {
    width: 100%;
    height: auto;
}

.main11 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

.img8 {
    width: 900px;
    height: 500px;
    background: url(Assets/pexels-photo-3764552.jpeg) 50% 50% no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.text14 {
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.img9 {
    width: 340px;
    height: 450px;
    background: url(Assets/pexels-photo-4210370.jpeg)50% 50% no-repeat;
    background-size: cover;
}

.img10 {
    width: 340px;
    height: 450px;
    background: url(Assets/pexels-photo-4202328.jpeg)50% 50% no-repeat;
    background-size: cover;
}

.img11 {
    width: 335px;
    height: 450px;
    background: url(Assets/pexels-photo-4210338.jpeg)50% 50% no-repeat;
    background-size: cover;
}

.img12 {
    width: 334px;
    height: 450px;
    background: url(Assets/pexels-photo-3757942.jpeg)50% 50% no-repeat;
    background-size: cover;
}

.main12 {
    display: flex;
    flex-wrap: wrap;
}

.main13 {
    width: 100%;
    height: auto;
}

.text15 {
    font-size: 20px;
    max-width: 650px;
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main14 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main15 {
    width: 100%;
    height: auto;
}

.text16 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.img13 {
    width: 400px;
    height: 400px;
    background: url(Assets/pexels-photo-374148.jpeg) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 100px;
}

.main16 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

.text17 {
    max-width: 500px;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}

.main17 {
    width: 100%;
    height: auto;
}

.main18 {
    width: 100%;
    height: auto;
    background: url(Assets/pexels-photo-3757942.jpeg) 50% 50% no-repeat;
    background-size: cover;
}

.text18 {
    font-size: 30px;
    color: white;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

.text19 {
    font-size: 50px;
    color: white;
    font-weight: 600px;
    padding-top: 20px;
    text-align: center;
}

.main19 {
    padding-top: 50px;
    text-align: center;
}

.main20 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    padding: 30px;
}

.text20 {
    width: 500px;
    height: 50px;
    background-color: white;
    border: none;
}

.text21 {
    width: 500px;
    height: 100px;
    background-color: white;
    border: none;
}

.button1 {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border: none;
}

.button1:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width:768px) {
    .img5 {
        width: 300px;
        height: 400px;
        background: url(Assets/pexels-photo-3865712.jpeg)50% 50% no-repeat;
        background-size: cover;
    }

    .text5 {
        font-size: 20px;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
    }

    .img3 {
        padding-top: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .m1 {
        width: 80px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .text8 {
        width: 250px;
        font-size: 20px;
        padding-top: 20px;
    }

    .text6 {
        width: 200px;
        font-size: 20px;
        padding-top: 20px;
    }

    .text2 {
        font-size: 30px;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    .text7 {
        font-size: 20px;
    }

    .img7 {
        width: 300px;
        height: 200px;
        background: url(Assets/pexels-photo-4210315.jpeg) 50% 50% no-repeat;
        background-size: cover;
        padding-top: 50px;
    }

    .text12 {
        font-size: 30px;
        padding-top: 50px;
    }

    .text13 {
        font-weight: 600;
        padding-top: 20px;
    }

    .img8 {
        width: 300px;
        height: 200px;
        background: url(Assets/pexels-photo-3764552.jpeg) 50% 50% no-repeat;
        background-size: cover;
        margin-top: -50px;
    }

    .text14 {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .img9 {
        width: 425px;
        height: 450px;
        background: url(Assets/pexels-photo-4210370.jpeg)50% 50% no-repeat;
        background-size: cover;
    }

    .img10 {
        width: 425px;
        height: 450px;
        background: url(Assets/pexels-photo-4202328.jpeg)50% 50% no-repeat;
        background-size: cover;
    }

    .img11 {
        width: 425px;
        height: 450px;
        background: url(Assets/pexels-photo-4210338.jpeg)50% 50% no-repeat;
        background-size: cover;
    }

    .img12 {
        width: 425px;
        height: 450px;
        background: url(Assets/pexels-photo-3757942.jpeg)50% 50% no-repeat;
        background-size: cover;
    }

    .text15 {
        font-size: 20px;
        max-width: 350px;
        text-align: center;
        font-weight: 600;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 2;
    }

    .text16 {
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
    }

    .img13 {
        width: 250px;
        height: 250px;
        background: url(Assets/pexels-photo-374148.jpeg) 50% 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-top: 50px;
        margin-left: 40px;
    }

    .text17 {
        max-width: 350px;
        font-size: 20px;
        padding-top: 30px;
        text-align: center;
    }

    .text19 {
        font-size: 30px;
        color: white;
        font-weight: 600px;
        padding-top: 20px;
        text-align: center;
    }

    .text20 {
        width: 300px;
        height: 50px;
        background-color: white;
        border: none;
    }

    .text21 {
        width: 300px;
        height: 50px;
        background-color: white;
        border: none;
    }
}

@media screen and (max-width:576px) {
    .img5 {
        width: 200px;
        height: 300px;
        background: url(Assets/pexels-photo-3865712.jpeg)50% 50% no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width:335px) {
    .text8 {
        width: 200px;
        font-size: 20px;
        padding-top: 20px;
    }
}